.browse {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 40px;

	&__title {
		text-align: center;

		h3 {
			font-weight: 600;
		}

		p {
			font-weight: 400;
			color: #666666;
			font-size: 20px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 50px;
		align-items: center;

		&__card {
			text-align: center;

			&__image {
				position: relative;
				width: 381px;
				height: 480px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 20px;
				}
			}

		}
	}
}

.browse::after {
	content: '';
	height: 1px;
	background-color: #D7D6D6;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	z-index: 1;
}

.left {
	object-position: left;
}

.center {
	object-position: right;
}

.right {
	object-position: center;
}